import { betterAuth } from "better-auth";
{{- if .IsPrisma}}
import { prismaAdapter } from "better-auth/adapters/prisma";
import { db } from "@/lib/db";
{{- else if .IsDrizzle}}
import { drizzleAdapter } from "better-auth/adapters/drizzle";
import { db } from "@/lib/db";
{{- end}}

export const auth = betterAuth({
  {{- if .IsPrisma}}
  database: prismaAdapter(db, { provider: "{{.DBProvider}}" }),
  {{- else if .IsDrizzle}}
  database: drizzleAdapter(db, { provider: "{{.DBProvider}}" }),
  {{- end}}
  emailAndPassword: { enabled: true },
  socialProviders: {
    github: {
      clientId: process.env.GITHUB_CLIENT_ID as string,
      clientSecret: process.env.GITHUB_CLIENT_SECRET as string,
    },
  },
  session: {
    expiresIn: 60 * 60 * 24 * 7,
    updateAge: 60 * 60 * 24,
  },
});

export type Session = typeof auth.$Infer.Session;
export type User = typeof auth.$Infer.Session.user;